# docker-compose.monitoring.yml

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: claw-monitoring-prometheus
    restart: always
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - clawzeneger-net

  grafana:
    image: grafana/grafana-oss:latest
    container_name: claw-monitoring-grafana
    restart: always
    ports:
      - "3004:3000"
    env_file: .env
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD:-admin123}
    volumes:
      - grafana-data:/var/lib/grafana
      - ./monitoring/grafana-dashboards:/etc/grafana/provisioning/dashboards
      - ./monitoring/grafana-datasources:/etc/grafana/provisioning/datasources
    depends_on:
      - prometheus
    networks:
      - clawzeneger-net

networks:
  clawzeneger-net:
    external: true

volumes:
  prometheus-data:
  grafana-data:
