@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0b0e;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #23262d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}
